<h1>Modalidades de Longboard</h1>

<h3>É comum ver algumas pessoas dizendo:</h3>

<blockquote>
    <p>"Quero começar a andar de longboard mas não faço ideia de por onde começar. Vejo varios tipos e formatos mas não sei qual a diferença de um para outro."</p>
</blockquote>

<h3>Então vamos entender quais são esses modelos:</h3>

<h2>Cruising</h2>

<p>Pra que só quer dar umas voltas por ai ou arriscar manobras como <strong>dance</strong> ou um pouco de <strong>freestyle</strong> essa modalidade é a mais indicada. Normalmente são shapes mais longos e podem ter o formato <strong>simétrico</strong> ou <strong>pintail</strong>, e é indicado o uso de rodas macias (76A -) para garantir mais estabilidade.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/2LHlEL8fCZQ" frameborder="0" allowfullscreen></iframe>

<h2>Downhill Slide</h2>

<p>Downhill trata-se de descer uma ladeira em alta velocidade fazendo diversos tipos de slides. Sendo a mais radical é considerada também a mais perigosa e por isso é recomendado que utilize sempre todos os <strong>equipamentos de proteção</strong>. Normalmente é usado um shape <strong>simétrico</strong> sem <strong>tail</strong> ou <strong>nose** e rodas duras (85A +) para obter maior velocidade.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/EgrJZZQAq30" frameborder="0" allowfullscreen></iframe>

<h2>Dancing</h2>

<p>Esta modalidade se baseia em <strong>dançar</strong> sobre o shape do seu longboard, isso mesmo, <strong>dançar</strong>. Existem muitos tipos de manobras em longboard dancing que modem ser mescladas com as de <strong>freestyle</strong>. Para esta modalidade é indicado os shapes maiores, como os de 42" ou maior, como por exemplo os shpapes classics, pois assim você terá mais espaço para dançar.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ySu0ymIa8yo" frameborder="0" allowfullscreen></iframe>

<h2>Freestyle</h2>

<p>As manobras desta modalidade se parecem muito com as manobras realizadas em um "skate comum" ou street como é conhecido. Quando de trata de freestyle vale qualqer tipo de manobras, fique a vontade para mesclar dancing com slides e o que mais sua criatividade permitir. Normalmente os shapes usados em freestyle possuem <strong>tail</strong> e <strong>nose</strong> para facilitar a execução das manobras e é ideal o uso de rodas de dureza média (de 77A até 84A).</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/p_-52fGPGbQ" frameborder="0" allowfullscreen></iframe>

<h2>Downhill Speed</h2>

<p>Esta Modalidade em minha opnião é a modalidade mais radical, afinal as ladeiras são mais ingrimes e maiores que as do <strong>downhill</strong>. Nada de <strong>tail</strong> ou  <strong>nose</strong> por aqui, quanto mais aerodinâmica tiver, maior será a velocidade alcançada. Lembrando que para a prática das modalidade <strong>Downhill</strong> e <strong>Downhill Speed</strong> é extremamente importante o uso dos equipamentos de segurança.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/KQQohsWu3us" frameborder="0" allowfullscreen></iframe>

<h2>Slalom</h2>

<p>A modalidade <strong>Slalom</strong> é uma das mais legais em minha opnião. Trata-se de descer ladeiras leves desviando de obstáculos o mais rápido possível. Ocorrem algumas competições ao redor do mundo com regras próprias, mas no Brasil não é uma modalidade tão popular.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/WShIzPARZAU" frameborder="0" allowfullscreen></iframe>

<h3>Então agora que você já conhece um pouco mais de cada modalidade já sabe qual vai praticar?</h3>


<!-- ========= DISQUS ========== -->


<div id="disqus_thread"></div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'niteroilongboardgithubio';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
