<footer class="footer flex">
    <span class="footer__content"> Niterói Longboard Copyright © 2015 All Rights Reserved</span>

    <span class="footer__content">Desenvolvido por Higor Neves</span>
</footer>