<header class="header">
    <div class="bg__banner">
        <img class="bg__banner_img" src="/images/bg_niteroi.jpg" alt="Vista da cidade de Niterói">

        <div class="logo__nl">
            <a href="https://www.niteroilongboard.com"><img class="logo__nl_img" src="/images/niteroilongboard.png" alt="logo niterói longboard"></a>
        </div>
    </div>
    <div class="menu">
        <ul class="menu__lista">
            <li class="menu__lista_item"><a href="/" class="menu-item">Home</a></li>

            <li class="menu__lista_item"><a href="/" class="menu-item">Artigos</a></li>

            <li class="menu__lista_item"><a href="/" class="menu-item">Fotos</a></li>

            <li class="menu__lista_item"><a href="/" class="menu-item">Fale conosco</a></li>
        </ul>
    </div>
</header>