<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" type="text/css" href="/css/main.css">

        <title><%- title %></title>
    </head>
    <body>
        <%- partial("partials/_header") %>
        <div class="container">
            <%- yield %>
        </div>
        <%- partial("partials/_footer") %>
        <script>
            $(function() {
                $(".responsive-buttom").click(function() {
                    $(".menu__lista_item").toggle(300);
                });
            });
        </script>
    </body>
</html>