/* ========== mixin's ========== */
@mixin mq($size, $max: false) {
  @if ($max) {
    @media (max-width: $size) {
      @content;
    }
  }
  @else {
    @media (min-width: $size) {
      @content;
    }
  }
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

/* ========== cores ========== */
$text-bg-white: #232523;
$text-bg-dark: #ffffff;
$bg-dark: #232523;
$bg-light: #FFFFFd;

$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);
