.footer {
  max-width: 100%;
  margin: 15px 0 auto;
  height: 50px;
  background-color: $bg-dark;

  &__content {
    margin: auto 15px;
    color: $text-bg-dark;
    @include font-size(.8);

    @include mq($screen-sm) {

      @include font-size(1);
    }

  }
}
