.header {
  max-width: 100%;
  margin: 0 auto;
}

.bg__banner {
  position: relative;
  max-width: 100%;

  &_img {
    max-width: 100%;
    border-bottom: 10px solid $text-bg-white;
  }
}

.logo__nl{
  top: 0;
  left: 0;
  position: absolute;

  &_img {
    max-width: 70%;

    @include mq($screen-md) {
      max-width: 50%;
    }
  }
}

/* menu */
.menu {
  text-align: center;
  width: 100%;
  position: relative;
  @include font-size(1.4);

  &__lista {
    padding: 0 !important;

    &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 0;
    border-bottom: 1px solid #DADCD5;
  }

    a { color: $text-bg-white; }

    &_item {
      padding-right: 100px;
      display: inline-block;

      :last-child { padding: 0 }
    }
  }
}