.header {
  max-width: 100%;
  margin: 0 auto;
}

.bg__banner {
  position: relative;
  max-width: 100%;
  max-height: 281px;

  &_img {
    max-width: 100%;

    @include mq($screen-sm) {
      border-bottom: 10px solid $text-bg-white;
    }
  }
}

.logo__nl{
  top: 0;
  left: 0;
  position: absolute;

  a { height: auto; }

  &_img {
    max-width: 22%;

    @include mq($screen-sm) {
      max-width: 22%;
    }

    @include mq($screen-md) {
      max-width: 50%;
    }
  }
}

/* menu */
.menu {

  a { padding: 5px 110px; }

  &__lista {
    margin-top: -6px;
    padding: 0 !important;
    text-align: center;
    background-color: $bg-dark;

    &_item {
      display: none;
      // display: block;
      padding: 5px 0;
    }
  }

  .responsive-buttom {
    padding: 10px;

    .menu-icon {
      @include font-size(1.5);
    }
  }


  @include mq($screen-sm) {
    display: inline;
    margin-top: 6px;
    width: 100%;
    position: relative;
    text-align: center;
    @include font-size(1.4);

    .visible-phone { display: none; }


    &__lista {
      padding: 0 !important;
      background-color: transparent;

      &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 800px;
      height: 0;
      border-bottom: 1px solid #DADCD5;
    }

      a {
        padding: 0;
        color: $text-bg-white;
      }

      &_item {
        padding-right: 100px;
        display: inline-block;

        :last-child { padding: 0 }
      }
    }
  }
}