.post-loop {
  text-align: center;
  padding: 0;
  flex-flow: row wrap;

  a {
    display: block;
    // padding: 10px;
    color: $text-bg-white;
  }
}

.post-item {
  // position: relative;
  width: 100%;
  min-height: 200px;
  height: auto;
  margin: 10px 10px;
  border: 2px solid $bg-dark;


  @include mq($screen-md) {
    max-width: calc(33.3% - 20px);
  }
}

.post-title {
  display: block;
  margin-bottom: 25px;
  color: $text-bg-dark;
  background-color: $bg-dark;
  text-transform: uppercase;
  @include font-size(2);
}

.post-desc {
  padding: 10px;
  @include font-size(1.2);
}

.post-date {
  padding: 10px;
  text-align: left;
  display: block;
  @include font-size(1);
}

.post-pagination {}